
@model IEnumerable<SalesTracker.Models.Comment>

<h1>index</h1>
@if(Model != null )
{
    <h2>does this work?</h2>

    @foreach(var comment in Model)
    {
        <div>
            <h5>@comment.Body</h5>
        </div>
    }

}
else 
{
    <h2>Stuff</h2>
}