@using SalesTracker.Models
@model IEnumerable<SalesTracker.Models.Comment>

<h1>index</h1>
@if(Model != null )
{
    @foreach (var comment in Model)
    {
        <div>
            <h5>@comment.Body</h5>
            <h5>@comment.User.UserName</h5>
        </div>
        }
    }
